* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: burlywood;
  height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.app {
  margin-top: 50px;
  width: 60%;
}

@media (max-width:768px) {
  .app {
    width: 90%;
  }
}

.app h1 {
  color: white;
  font-size: 40px;
  padding: 12px 0;
  text-align: center;
  background-color: brown;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.app form {
  display: flex;
  width: 100%;
  background-color: white;
  border: none;
}

.app form input {
  border: none;
  background-color: white;
  font-size: 18px;
  color: black;
  padding: 10px;
  width: 90%;
}

.app form button {
  border: none;
  color: white;
  background-color: brown;
  font-size: 25px;
  font-weight: 600;
  height: 42px;
  width: 10%;
}

.app ul {
  list-style: none;
  color: #e0e0e0;
  padding:20px;
}

.app ul li {
  padding: 10px;
  margin-bottom: 5px;
  background-color: brown;
  border-bottom: 1px solid black;
}

.check {
  width: 0.8em;
  height: 0.8em;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
 
}

.check:checked {
  background-color: #1dd2af;
}

.task {
  font-size: 18px;
  padding: 0 10px;
  width: fit-content;
  background: transparent;
  border: none;
  color: #fff;
}

.task:focus {
  outline: none;
}

.app ul li i {
  float: right;
  cursor: pointer;
}

.app ul li i:hover {
  color: rgb(255, 82, 82);
}

.completed {
  color: rgba(192, 192, 192, 0.8);
  text-decoration: line-through;
}